@using UserActivitiesTestApp.BO.Models
@model ActivityViewModel

@{
    ViewData["Title"] = "Activity";
}

@if (User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-md-4 col-sm-4">
            <form>
                <div id="wrapper">
                    <div id="content">
                        <h1>Welcome!</h1>
                    </div>
                </div>
            </form>
        </div>
    </div>

}
else
{
    <a asp-controller="Activity" asp-action="Activity">Login</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}







